
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweet Cakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="donut.css"/>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Sofia" rel="stylesheet">
    
</head>
<body>
<h1 id="donut-heading">About Us</h1>
<hr>
    <div id="navbar">
        <a class="link-nav" href = "<%= url('/')%>">HOME</a>
        <a class="link-nav" href="<%= url('/donuts')%>">DONUTS</a>
        <a class="link-nav" href="<%= url('/cupcakes')%>">CUPCAKES</a>
        <a class="link-nav" href="<%= url('/cakes')%>">CAKES</a>
    </div>

<div id="abtimg-div">
    <div id="abt-img">
        <img src="https://images.pexels.com/photos/9095/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
</div>
<div id="abt-div">
<p>To put it simply – we are dessert snobs.</p>

<p>We see no problem in being picky when it comes to the smaller and finer things in life. Some crowds have their specialty coffee. Some people have their micro brews. Well … we have our gourmet desserts – and with good reason.</p>
<p>The recipes of our desserts are the personal treasures and creations of our main pastry curator, Sue. For years she perfected her pastry recipes, serving them exclusively to family and friends in her suburban Detroit hometown. Word of mouth spread to a point where she could not keep up with the demand.</p>

<p>In 2008, Sue and family relocated to the DC area to fulfill a longstanding dream to open a bakery with her sister, Jen. After a year of planning and continued refinement of different desserts, the first Sweet Cakes Actually opened in Fairfax Corner.</p>

<p>With the award-winning success of the Northern Virginia location, Sue and Jen decided to expand and share their custom desserts in Loudoun County. Sweet Cakes located in The Villages at Leesburg opened in Spring 2013! Just when you thought it couldn’t get any better, the Leesburg location has an expanded menu, which includes: homemade gelato and sorbet, a coffee bar and breakfast pastries!</p>

<p>We look forward to helping you indulge your sweet cravings and hope that our creations will help make your world a little bit sweeter!</p>

</div>

<div id="footer">
<div id="footer-inner">
 <h3>follow us</h3>
 <div id="footer-icons">
 <i class="fab fa-twitter-square"></i>
 <i class="fab fa-instagram"></i>
 <i class="fab fa-facebook-square"></i>
 </div>
</div>
</div>


</body>
</html>